



#*#
*.bak
*.data
*.elc
*.log
*.sqlite
*bak/
*~
.DS_Store
.cache/
.cask/
.clang_complete
.dap-*
.persistent-scratch
.python-environments/
.savehist
.saves/
.vscode/
/.agignore
/.chatgpt-shell.el
/.elfeed
/.emacs*.desktop
/.emacs*.desktop.lock
/.emacs-buffers
/.last-package-update-day
/.lsp-session*
/.markdown-preview.html
/.mc-lists.el
/.org-id-locations
/.pdf-view-restore
/.persistent-scratch
/.rgignore
/GPATH
/GRTAGS
/GTAGS
/TAGS
/abbrev_defs
/ac-comphist.dat
/amx-items
/bookmarks
/codeium/
/company-statistics-cache.el
/custom-post.el
/custom.el
/etc/
/history
/nov-places
/package-quickstart.el
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/scratch
/smex-items
/tramp
/var/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Projects
README.html
anaconda-mode/
annotations
auto-save-list/
bin/
ccls/
cmake_install.cmake
cnfonts/
custom.el
desktop
eclipse.jdt.ls/
eln-cache/
elpa-devel/
elpa/
emojis/
eshell/
flycheck_*.el*
games/
history
ido.*
image-dired/
images/
init-org.el
install_manifest.txt
irony/
magithub/
newsticker/
persistent-scratch/
persp-confs/
places
projects
recentf
request/
server/
session*
src/
straight/
test/
temp/
thumbs/
tldr/
tmp*
transient/
tree-sitter/
tutorial/
url/
workspace/
