*
!lisp/
!lisp/*.el
!.dockerignore
!.envrc
!.gitignore
!.github/
!.pre-commit-config.yaml
!Dockerfile
!Eask
!LICENSE
!Makefile
!README.md
!custom-template.el
!demacs
!early-init.el
!init.el
!emacs.png
!find0.sh
!reinstall-emacs-plus31.sh
